* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: #0a0a0a;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}